{% extends 'base.html' %}
{%  block title %}
    File storage. The project task for course "Databanken und Webtechniken"
{% endblock %}
{% block body %}
    <h1>{{ msg }}</h1>
    <h1>singIN</h1>
    <h1><a href="/registration">registration</a></h1>
    <h1></h1>
    <form method="post">
        <div class=>put the link in the field:</div> <input type="text" name="psw" id="psw" class="form-control", width="100">
        <input type="submit" class="btn btn-success" value="Go to file">
    </form>
{% endblock %}